<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Opinie</span>
            <h2 class="cs-title">Nasi kursanci mówią jednym głosem</h2>
            <p class="cs-text">
                Przez lata praktyki wypracowaliśmy sobie podejście i elastyczność niezbędną w pracy z ludźmi. Jesteśmy niesamowicie szczęśliwi mogąc czytać Wasze komentarze!
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Dostałam pracę dzięki Lingua Turtles</h3>
                <p class="cs-item-text">
                    Wystawiam tę opinię z najwyższą przyjemnością, bo to dzięki Wam mogę teraz mieszkać w mojej wymarzonej Szkocji!!! Od matury minęło za dużo czasu żebym mogła po prostu wyjechać do obcego kraju i się tam odnaleźć, ale Wasz kurs indywidualny dał mi kupę pewności siebie i praktyczne umiejętności. Pozdrawiam lektora Daniela!!
                </p>
                <span class="cs-name">Aneta</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Regularny rozwój</h3>
                <p class="cs-item-text">
                    Kilka lat temu zapisaliśmy na zajęcia przedszkolne naszą 6-latkę i od tamtego czasu leci już 4 rok jej regularnej nauki w Lingua Turtles, a Zosia z chęcia wykazuje się na kolejnych konkursach językowych na poziomie szkolnym, powiatowym, a ostatnio nawet wojewoódzkim. Nieważne co zechce w życiu robić, ale na pewno nie będzie mieć problemów z dogadaniem się nigdzie na świecie ;)
                </p>
                <span class="cs-name">Marcin i Karolina</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Praca w amerykańskim korpo</h3>
                <p class="cs-item-text">
                    Zdawałem maturę z niemieckiego więc po latach studiów inżynierskich miałem problem kiedy starałem się o pracę w amerykańskiej firmie IT. Co prawda nie udało się za pierwszym ani drugim razem, ale po roku regularnych zajęć indywidualnych wiem że już nigdy nie będę obawiał się o wymagania językowe w pracy. No i w końcu zawodowo jestem tam, gdzie chciałem, a dzięki językowi mogę być spokojny o konkurencyjność na rynku!
                </p>
                <span class="cs-name">Krzysiek</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Przełamanie bariery językowej</h3>
                <p class="cs-item-text">
                    Od kiedy pamiętam wydawało mi się że jestem dobra z angielskiego, nie miałam większych problemów z czytaniem magazynów, internetu czy z kartkówkami z gramatyki i słówek. Szybko zobaczyłam jednak jak ogromną barierę mówienia mam kiedy staję oko w oko z zagranicznym klientem (a to część mojej pracy). W Lingua Turtles korzystałam z zajęć grupowych i to one zrobiły różnicę i dały mi w końcu swobodę wypowiedzi, za co zawsze będę wdzięczna
                </p>
                <span class="cs-name">Weronika</span>
            </li>
        </ul>
    </div>
</section>
                                
<style>
    /*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews {
        padding: var(--sectionPadding);
        background-color: var(--primary);
    }
    #reviews .cs-container {
        width: 100%;
        /* changes to 1440px at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #reviews .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #reviews .cs-topper,
    #reviews .cs-title {
        /* cs-title override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This second cs-title is a section specific override that stays inside this stitch */
        max-width: 20ch;
        color: var(--bodyTextColorWhite);
    }
    #reviews .cs-text {
        color: var(--bodyTextColorWhite);
    }
    #reviews .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
    }
    #reviews .cs-item {
        list-style: none;
        width: 100%;
        margin: 0;
        /* 32px - 48px top & bottom */
        /* 16px - 32px left & right */
        padding: clamp(2rem, 7vw, 3rem) clamp(1rem, 4vw, 2rem);
        /* makes padding not affect height and width */
        box-sizing: border-box;
        background-color: #f0f0f0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #reviews .cs-icon {
        /* 30px - 40px */
        width: clamp(1.875rem, 4vw, 2.5rem);
        height: auto;
        margin: 0 0 2rem 0;
        display: block;
    }
    #reviews .cs-h3 {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 4vw, 1.5625rem);
        line-height: 1.2em;
        font-weight: 700;
        margin: 0 0 1.5rem 0;
        color: var(--headerColor);
    }
    #reviews .cs-item-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 4vw, 1rem);
        line-height: 1.5em;
        max-width: 24.25rem;
        margin: 0 0 3rem 0;
        color: var(--bodyTextColor);
    }
    #reviews .cs-name {
        font-size: 1.25rem;
        line-height: 1.2em;
        font-weight: 500;
        margin: auto 0 0 0;
        color: var(--headerColor);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        position: relative;
    }
    #reviews .cs-name:before {
        /* dash line */
        content: "";
        width: 0.5rem;
        height: 1px;
        background: currentColor;
        display: block;
        position: relative;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews .cs-container {
        max-width: 90rem;
    }
    #reviews .cs-card-group {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    #reviews .cs-item {
        width: 48.5%;
    }
}
/* Small Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #reviews .cs-card-group {
        align-items: stretch;
        justify-content: center;
    }
    #reviews .cs-item {
        width: clamp(23.45%, 23.2vw, 23.9%);
    }
}

                                
</style>