<!-- ============================================ -->
<!--                     Stats                    -->
<!-- ============================================ -->

<section id="o-nas">
  <div class="cs-container">
      <div class="cs-wrapper">
          <picture class="cs-picture">
              <source media="(max-width: 600px)"
                      srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-stats-sbs.png">
              <source media="(min-width: 601px)"
                      srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-stats-sbs.png">
              <img loading="lazy" decoding="async"
                      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-stats-sbs.png"
                      alt="two people talking totally just friends" width="500" height="552">
          </picture>
          <div class="cs-content">
              <span class="cs-topper">Edukacja w najlepszym wydaniu</span>
              <h2 class="cs-title">Angielski przepustką do spełnienia marzeń</h2>
              <p class="cs-text">
                  Studia za granicą, menadżerska pozycja w zagranicznej firmie, kilkumiesięczna podróż po świecie lub mieszkanie za granicą. Oprócz odwagi, wszystkie te cele wymagają jednego wspólnego mianownika - <span class="bolded">bardzo dobrej znajomości języka angielskiego</span>, który już od dawna określany jest jako lingua franca XXI wieku.
              </p>
              <p class="cs-text">
                Daj sobie szansę na spełnienie tych marzeń i zadbaj o umiejętności językowe. W Lingua Turtles czeka na Ciebie kadra przyjaznych i wykwalifikowanych lektorów, którzy mają praktyczne doświadczenie w pracy w środowisku anglojęzycznym, znają wymagania rynku pracy oraz przygotowali setki ludzi do certyfikatów językowych na najwyższych poziomach zaawansowania. A to wszystko przy wykorzystaniu <span class="bolded">świeżych pomysłów i praktyk nauki przez zabawę</span> - nie będziesz chciał kończyć tych zajęć!
              </p>
              <a class="cs-button-solid" href="#contact">Porozmawiaj z nami już teraz</a>
          </div>
      </div>
      <ul class="cs-card-group">
          <li class="cs-item">
              <h3 class="cs-h3">Zadowolonych kursantów</h3>
              <span class="cs-number">800+</span>
              <img class="cs-graphic"
                      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-logo-white.svg"
                      alt="graphic" height="171" width="171" loading="lazy" decoding="async" aria-hidden="true">
          </li>
          <li class="cs-item">
              <h3 class="cs-h3">Przedłużonych umów w 2023</h3>
              <span class="cs-number">73%</span>
              <img class="cs-graphic"
                      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-logo-white.svg"
                      alt="graphic" height="171" width="171" loading="lazy" decoding="async" aria-hidden="true">
          </li>
          <li class="cs-item">
              <h3 class="cs-h3">Zdawalność certyfikatów</h3>
              <span class="cs-number">80%+</span>
              <img class="cs-graphic"
                      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-logo-white.svg"
                      alt="graphic" height="171" width="171" loading="lazy" decoding="async" aria-hidden="true">
          </li>
          <li class="cs-item">
              <h3 class="cs-h3">Lata doświadczenia</h3>
              <span class="cs-number">10+</span>
              <img class="cs-graphic"
                      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-logo-white.svg"
                      alt="graphic" height="171" width="171" loading="lazy" decoding="async" aria-hidden="true">
          </li>
      </ul>
  </div>
</section>
                              
<style>
  /*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  .bolded {
    font-weight: 700;
    font-style: italic;
  }
  #o-nas {
    padding: var(--sectionPadding);
  }
  #o-nas .cs-container {
    width: 100%;
    /* changes to 1920px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* 48px - 100px */
    gap: clamp(3rem, 7vw, 6.25rem);
  }
  #o-nas .cs-wrapper {
    width: 100%;
    /* 48px - 64px */
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #o-nas .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #o-nas .cs-text {
    margin-bottom: 1rem;
  }
  #o-nas .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #o-nas .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: #fff;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #o-nas .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #o-nas .cs-button-solid:hover:before {
    width: 100%;
  }
  #o-nas .cs-picture {
    width: 100%;
    max-width: 39.375rem;
    height: auto;
    /* 400px - 600px */
    min-height: clamp(25rem, 68vw, 37.5rem);
    margin: 0;
    display: block;
    position: relative;
    z-index: 1;
    align-self: stretch;
  }
  #o-nas .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #o-nas .cs-card-group {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-flow: row;
    /* 16px - 40px */
    gap: clamp(1rem, 3vw, 2.5rem);
  }
  #o-nas .cs-item {
    width: 100%;
    /* 20px - 40px */
    padding: clamp(1.25rem, 3vw, 2.5rem);
    background-color: #f7f7f7;
    display: flex;
    /* 24px - 80px */
    flex-direction: column;
    gap: clamp(1.5rem, 6vw, 5rem);
    position: relative;
    overflow: hidden;
  }
  #o-nas .cs-h3 {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--primary);
    z-index: 1;
  }
  #o-nas .cs-number {
    /* 49px - 61px */
    font-size: clamp(3.0625rem, 5vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    color: var(--headerColor);
    z-index: 1;
  }
  #o-nas .cs-graphic {
    /* 131px - 233px */
    width: clamp(8.1875rem, 16vw, 14.5625rem);
    /* 131px - 233px */
    height: clamp(8.1875rem, 16vw, 14.5625rem);
    position: absolute;
    /* -49px - -37px */
    right: clamp(-3.0625rem, -4vw, -2.3125rem);
    /* -8px - -40px */
    bottom: calc(clamp(0.5rem, 3vw, 2.5rem) * -1);
    z-index: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #o-nas .cs-container {
    max-width: 120rem;
  }
  #o-nas .cs-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    gap: 2.5rem;
  }
  #o-nas .cs-content {
    padding: 4rem 0;
    align-self: center;
  }
  #o-nas .cs-card-group {
    grid-template-columns: repeat(4, 1fr);
  }
}
                                
</style>