<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->  

<section id="services">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Nasze zajęcia</span>
                <h2 class="cs-title">Zapewnij sobie przewagę dzięki sile nauki metodami <span class="span-color">
                  Lingua Turtles
                  </span>
                </h2>
            </div>
            <p class="cs-text">
                W XXI wieku znajomość języka angielskiego jest być może pojedynczą najważniejszą umiejętnością. Niezależnie od tego czy szukasz zmiany zawodowej, chcesz zamieszkać w innym kraju czy dać przewagę na rynku pracy swoim dzieciom - pomogą Ci nasze kursy. Doskonale wiemy jak obrócić naukę w zabawę i nakręcić Cię na stały rozwój!
            </p>
        </div>            
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chat-gold.svg"
                            loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Certyfikaty</h3>
                    <p class="cs-item-text">
                        Organizujemy zajęcia, które skutecznie przygotują Cię do zdobycia renomowanych certyfikatów językowych na różnych poziomach (B1-C2). Nasi nauczyciele są certyfikowani przez międzynarodową radę British Council.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/call-gold.svg"
                            loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Zajęcia indywidualne</h3>
                    <p class="cs-item-text">
                        Chcesz przygotować się do rozmowy kwalifikacyjnej lub pracy w obcym języku? Jeśli chcesz popracować z lektorem nad ważnymi dla Ciebie zagadnieniami wybierz ofertę lekcji indywidualnych z planem nauki tylko dla Ciebie!
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/money-gold.svg"
                            loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Zajęcia grupowe</h3>
                    <p class="cs-item-text">
                        Czujesz że potrzebujesz integracji i nauki języka w żywym środowisku? Nasze kursy grupowe sprawią że nabierzesz pewności w komunikacji z innymi ludźmi, niezależnie od Twojego poziomu zaawansowania.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/dollar-gold.svg" loading="lazy"
                            decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Zajęcia online</h3>
                    <p class="cs-item-text">
                        Jeśli wolisz naukę z domu to nic straconego! Jesteśmy nowoczesną szkołą i organizujemy zajęcia grupowe oraz indywidualne również przez internet, z wykorzystaniem platform Moodle oraz Zoom.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/layer-gold.svg" loading="lazy"
                            decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Wszystkie grupy wiekowe</h3>
                    <p class="cs-item-text">
                      Uczymy nie tylko dorosłych, ale też dzieci w wieku przedszkolnym, uczniów podstawówek i szkół średnich. Daj swojemu dziecku szansę na harmonijny rozwój w grupie rówieśników i lepszy start w dorosłość!
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chart-GOLD.svg"
                            loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Język biznesowy</h3>
                    <p class="cs-item-text">
                        Rozwijasz się w świecie biznesu ale Twoja kariera nie może nabrać rozpędu przez barierę językową? Nasz zaawansowany kurs języka angielskiego biznesowego pozwoli Ci na wymarzoną pracę!
                    </p>
                </div>
            </li>
        </ul>
        <a href="#contact" class="cs-button-solid">Już od 200 zł miesięcznie!</a>
    </div>
</section>
                                
<style>
    /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  .span-color {
    color: var(--primary);
  }
  #services {
    padding: var(--sectionPadding);
  }
  #services .cs-container {
    /* changes to 1280px at desktop */
    max-width: 50rem;
    max-width: 80rem;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #services .cs-title {
    max-width: 20ch;
  }
  #services .cs-text {
    max-width: 40rem;
    position: relative;
    z-index: 1;
  }
  #services .cs-text:after {
    /* divider line */
    content: "";
    width: 100%;
    height: 1px;
    margin-top: 1.5rem;
    background: var(--primary);
    opacity: 1;
    display: block;
    position: relative;
  }
  #services .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: 2.5rem;
    /* 16px - 40px */
    column-gap: clamp(1rem, 5vw, 2.5rem);
  }
  #services .cs-item {
    list-style: none;
    max-width: 25rem;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    /* 16px - 24px */
    gap: clamp(1rem, 3vw, 1.5rem);
    text-align: left;
  }
  #services .cs-picture {
    /* 60px - 80px */
    width: clamp(3.75rem, 6vw, 5rem);
    height: clamp(3.75rem, 6vw, 5rem);
    margin: 0;
    box-sizing: border-box;
    border: 1px solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #services .cs-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
  #services .cs-h3 {
    font-size: 1.25rem;
    text-align: inherit;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 0.5rem;
    color: var(--primary);
  }
  #services .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    text-align: inherit;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #services .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    font-weight: 700;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: #fff;
    background-color: var(--primary);
    text-decoration: none;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-align: center;
  }
  #services .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #services .cs-button-solid:hover:before {
    width: 100%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services .cs-container {
    max-width: 80rem;
  }
  #services .cs-item {
    margin: 0;
    width: 100%;
    align-items: flex-start;
  }
  #services .cs-h3,
  #services .cs-item-text {
    text-align: left;
  }
  #services .cs-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #services .cs-flex {
    text-align: left;
    width: 40vw;
    max-width: 40rem;
    flex: none;
  }
  #services .cs-title {
    margin: 0;
  }
  #services .cs-text {
    padding: 0.75rem 0 0.75rem 1.5rem;
  }
  #services .cs-text:after {
    width: 1px;
    height: 100%;
    margin: 0 1.5rem 0 0;
    order: -1;
    position: absolute;
    left: 0;
    top: 0;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #services .cs-card-group {
    max-width: 80rem;
  }
  #services .cs-item {
    flex-direction: row;
  }
}
                                
</style>